.card {
    width: 18rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: white;
    margin: 10px;
  }
  
  .cardImgTop {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: top;
  }
  
  .cardBody {
    padding: 1.25rem;
  }
  
  .cardTitle {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
  }
  
  .cardText {
    margin-bottom: 1.25rem;
  }
  
  .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.5rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .customButton {
    margin-right:5px;
    background-color: white;
    border-color: #006B64;
    color: #006B64;
  }
  
  .customButton:hover {
    margin-right:5px;
    background-color: #006B64;
    border-color: #006B64;
    color: white;
  }
  .down{
    background-color: white;
    border-color:black;
    color:black;
  }
  .down:hover{
    background-color: black;
    border-color:black;
    color:white;
  }