.glassMorphism {
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
    border-radius: 10px;
    width: 80%;
    height: 10%;
    font-size: 1.5rem;
    z-index: 100;
    position: fixed;
    top: 20px;
    margin-bottom: 20px;
}

.body {
    background-color: #F3E5CB;
}

.facContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F3E5CB;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.facContainer input {
    color: #006B64;
    border: none;
    text-align: center;
}

.facContainer input[type=text]:focus {
    outline: none;
}

.facContainer img {
    height: 400px;
}

.tableContainer {
    display:flex;
    justify-content: center;
    width: 80%;
    padding-top: 10vh;
    max-height: 100vh; /* Adjust the height as needed */
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none; 
}
.tableContainer::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table td {
    padding: 10px;
    border-bottom: 1px solid  #006B64;
}

.name {
    text-align: left;
}

.tags {
    text-align: right;
}

.separator {
    color: green;
    font-weight:bold;
}

.errorMsg {
    text-align: center;
    font-size: 1.5rem;
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}